MyPersonaAI/.env
**/__pycache__
**/logs/*
MyPersonaAI/llmServer/unsloth-env/*
opt-125m-lora-output/checkpoint-25/adapter_config.json
opt-125m-lora-output/checkpoint-25/adapter_model.safetensors
opt-125m-lora-output/checkpoint-25/merges.txt
opt-125m-lora-output/checkpoint-25/optimizer.pt
opt-125m-lora-output/checkpoint-25/README.md
opt-125m-lora-output/checkpoint-25/rng_state.pth
opt-125m-lora-output/checkpoint-25/scheduler.pt
opt-125m-lora-output/checkpoint-25/special_tokens_map.json
opt-125m-lora-output/checkpoint-25/tokenizer_config.json
opt-125m-lora-output/checkpoint-25/tokenizer.json
opt-125m-lora-output/checkpoint-25/trainer_state.json
opt-125m-lora-output/checkpoint-25/training_args.bin
opt-125m-lora-output/checkpoint-25/vocab.json
opt-125m-lora-output/checkpoint-50/adapter_config.json
opt-125m-lora-output/checkpoint-50/adapter_model.safetensors
opt-125m-lora-output/checkpoint-50/merges.txt
opt-125m-lora-output/checkpoint-50/optimizer.pt
opt-125m-lora-output/checkpoint-50/README.md
opt-125m-lora-output/checkpoint-50/rng_state.pth
opt-125m-lora-output/checkpoint-50/scheduler.pt
opt-125m-lora-output/checkpoint-50/special_tokens_map.json
opt-125m-lora-output/checkpoint-50/tokenizer_config.json
opt-125m-lora-output/checkpoint-50/tokenizer.json
opt-125m-lora-output/checkpoint-50/trainer_state.json
opt-125m-lora-output/checkpoint-50/training_args.bin
opt-125m-lora-output/checkpoint-50/vocab.json
opt-125m-lora-output/checkpoint-75/adapter_config.json
opt-125m-lora-output/checkpoint-75/adapter_model.safetensors
opt-125m-lora-output/checkpoint-75/merges.txt
opt-125m-lora-output/checkpoint-75/optimizer.pt
opt-125m-lora-output/checkpoint-75/README.md
opt-125m-lora-output/checkpoint-75/rng_state.pth
opt-125m-lora-output/checkpoint-75/scheduler.pt
opt-125m-lora-output/checkpoint-75/special_tokens_map.json
opt-125m-lora-output/checkpoint-75/tokenizer_config.json
opt-125m-lora-output/checkpoint-75/tokenizer.json
opt-125m-lora-output/checkpoint-75/trainer_state.json
opt-125m-lora-output/checkpoint-75/training_args.bin
opt-125m-lora-output/checkpoint-75/vocab.json
opt125m_lora_adapter/adapter_config.json
opt125m_lora_adapter/adapter_model.safetensors
opt125m_lora_adapter/README.md
flan-t5-small-lora-output/checkpoint-25/adapter_config.json
flan-t5-small-lora-output/checkpoint-25/adapter_model.safetensors
flan-t5-small-lora-output/checkpoint-25/optimizer.pt
flan-t5-small-lora-output/checkpoint-25/README.md
flan-t5-small-lora-output/checkpoint-25/rng_state.pth
flan-t5-small-lora-output/checkpoint-25/scheduler.pt
flan-t5-small-lora-output/checkpoint-25/special_tokens_map.json
flan-t5-small-lora-output/checkpoint-25/spiece.model
flan-t5-small-lora-output/checkpoint-25/tokenizer_config.json
flan-t5-small-lora-output/checkpoint-25/tokenizer.json
flan-t5-small-lora-output/checkpoint-25/trainer_state.json
flan-t5-small-lora-output/checkpoint-25/training_args.bin
flan-t5-small-lora-output/checkpoint-50/adapter_config.json
flan-t5-small-lora-output/checkpoint-50/adapter_model.safetensors
flan-t5-small-lora-output/checkpoint-50/optimizer.pt
flan-t5-small-lora-output/checkpoint-50/README.md
flan-t5-small-lora-output/checkpoint-50/rng_state.pth
flan-t5-small-lora-output/checkpoint-50/scheduler.pt
flan-t5-small-lora-output/checkpoint-50/special_tokens_map.json
flan-t5-small-lora-output/checkpoint-50/spiece.model
flan-t5-small-lora-output/checkpoint-50/tokenizer_config.json
flan-t5-small-lora-output/checkpoint-50/tokenizer.json
flan-t5-small-lora-output/checkpoint-50/trainer_state.json
flan-t5-small-lora-output/checkpoint-50/training_args.bin
flan-t5-small-lora-output/checkpoint-75/adapter_config.json
flan-t5-small-lora-output/checkpoint-75/adapter_model.safetensors
flan-t5-small-lora-output/checkpoint-75/optimizer.pt
flan-t5-small-lora-output/checkpoint-75/README.md
flan-t5-small-lora-output/checkpoint-75/rng_state.pth
flan-t5-small-lora-output/checkpoint-75/scheduler.pt
flan-t5-small-lora-output/checkpoint-75/special_tokens_map.json
flan-t5-small-lora-output/checkpoint-75/spiece.model
flan-t5-small-lora-output/checkpoint-75/tokenizer_config.json
flan-t5-small-lora-output/checkpoint-75/tokenizer.json
flan-t5-small-lora-output/checkpoint-75/trainer_state.json
flan-t5-small-lora-output/checkpoint-75/training_args.bin
MyPersonaAI/config/ps.yaml
MyPersonaAI/data/*
MyPersonaAI/models/llama-3.2-1b-instruct-q8_0.gguf
MyPersonaAI/scripts/__pycache__/llama_cpp.cpython-311.pyc
MyPersonaAI/aiServer/agent/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/agent/__pycache__/agentBase.cpython-312.pyc
MyPersonaAI/aiServer/agent/__pycache__/agentPool.cpython-312.pyc
MyPersonaAI/aiServer/agent/__pycache__/builder.cpython-312.pyc
MyPersonaAI/aiServer/agent/core/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/agent/core/__pycache__/agentFactory.cpython-312.pyc
MyPersonaAI/aiServer/agent/core/__pycache__/difyAgent.cpython-312.pyc
MyPersonaAI/aiServer/agent/core/__pycache__/fastgptAgent.cpython-312.pyc
MyPersonaAI/aiServer/agent/core/__pycache__/localAgent.cpython-312.pyc
MyPersonaAI/aiServer/agent/core/__pycache__/openaiAgent.cpython-312.pyc
MyPersonaAI/aiServer/agent/core/__pycache__/repeaterAgent.cpython-312.pyc
MyPersonaAI/aiServer/bin/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/bin/__pycache__/app.cpython-312.pyc
MyPersonaAI/aiServer/engine/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/engine/__pycache__/builder.cpython-312.pyc
MyPersonaAI/aiServer/engine/__pycache__/engineBase.cpython-312.pyc
MyPersonaAI/aiServer/engine/__pycache__/enginePool.cpython-312.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/asrFactory.cpython-312.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/baiduASR.cpython-312.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/difyASR.cpython-312.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/googleASR.cpython-312.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/baiduLLM.cpython-312.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/gpt2LLM.cpython-312.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/llmFactory.cpython-312.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/openaiLLM.cpython-312.pyc
MyPersonaAI/aiServer/engine/tts/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/engine/tts/__pycache__/baiduTTS.cpython-312.pyc
MyPersonaAI/aiServer/engine/tts/__pycache__/difyTTS.cpython-312.pyc
MyPersonaAI/aiServer/engine/tts/__pycache__/edgeTTS.cpython-312.pyc
MyPersonaAI/aiServer/engine/tts/__pycache__/ttsFactory.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/agentApi.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/api.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/asrApi.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/commonApi.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/llmApi.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/reponse.cpython-312.pyc
MyPersonaAI/aiServer/server/__pycache__/ttsApi.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/audio.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/configParser.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/env.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/httpxClient.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/logger.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/protocol.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/registry.cpython-312.pyc
MyPersonaAI/aiServer/utils/__pycache__/strFilter.cpython-312.pyc
MyPersonaAI/aiServer/agent/__pycache__/__init__.cpython-312.pyc
MyPersonaAI/aiServer/agent/__pycache__/agentBase.cpython-312.pyc
MyPersonaAI/aiServer/agent/__pycache__/agentPool.cpython-312.pyc
MyPersonaAI/aiServer/agent/__pycache__/builder.cpython-312.pyc
MyPersonaAI/aiServer/engine/llm/__init__.py
MyPersonaAI/aiServer/bin/__pycache__/__init__.cpython-311.pyc
MyPersonaAI/aiServer/bin/__pycache__/app.cpython-311.pyc
MyPersonaAI/aiServer/engine/__pycache__/__init__.cpython-311.pyc
MyPersonaAI/aiServer/engine/__pycache__/builder.cpython-311.pyc
MyPersonaAI/aiServer/engine/__pycache__/engineBase.cpython-311.pyc
MyPersonaAI/aiServer/engine/__pycache__/enginePool.cpython-311.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/__init__.cpython-311.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/asrFactory.cpython-311.pyc
MyPersonaAI/aiServer/engine/asr/__pycache__/localASR.cpython-311.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/__init__.cpython-311.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/gpt2LLM.cpython-311.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/llmFactory.cpython-311.pyc
MyPersonaAI/aiServer/engine/llm/__pycache__/openaiLLM.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/__init__.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/configParser.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/env.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/httpxClient.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/logger.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/protocol.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/registry.cpython-311.pyc
MyPersonaAI/aiServer/utils/__pycache__/strFilter.cpython-311.pyc
MyPersonaAI/logs/20250516092742/system_log.txt
MyPersonaAI/logs/20250516092851/system_log.txt
MyPersonaAI/logs/20250516092907/system_log.txt
MyPersonaAI/aiServer/__pycache__/__init__.cpython-311.pyc
MyPersonaAI/aiServer/agent/__pycache__/__init__.cpython-311.pyc
MyPersonaAI/aiServer/agent/__pycache__/agentBase.cpython-311.pyc
MyPersonaAI/aiServer/agent/__pycache__/agentPool.cpython-311.pyc
MyPersonaAI/aiServer/agent/__pycache__/builder.cpython-311.pyc

MyPersonaAI/llmServer/unsloth_compiled_cache/
MyPersonaAI/llmServer/gemma-1b-qlora-finetuned/